.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

h2 {
  position: absolute;
  top: 400px;
  left: 170px;
  width: 100%;
}

h2 span {
  color: white;
  /* font: bold 45px/70px Helvetica, Sans-Serif; */
  font-size: 55px;
  letter-spacing: -1px;

  padding: 10px;
}

.epoha {
  color: rgb(136, 129, 129);
  font-size: 25px;
}
